<h3>Slider Demo</h3>
<div class="ui-g ui-fluid">
  <!--[min]=""  [max]="" 设置最大值，最小值-->
  <!--[step]=""  设置步长-->
  <!--[range]="true" 范围值，需要设置为数组-->
  <!--orientation="vertical" 设置成为竖向-->
  <div class="ui-g-12 ui-md-4">
    <input pInputText [(ngModel)]="val" style="width: 14em">
    <p-slider [(ngModel)]="val" [style]="{'width': '14em'}" [min]="0" [max]="150" [step]="10"></p-slider>

    <span *ngIf="val > 0">{{val}}</span>
  </div>

  <div class="ui-g-12 ui-md-4">
    <input pInputText [(ngModel)]="rangeValues" style="width: 14em">
    <p-slider [(ngModel)]="rangeValues" [style]="{'width': '14em'}" [range]="true"></p-slider>
  </div>

  <div class="ui-g-12 ui-md-4">
    <p-slider [(ngModel)]="val" orientation="vertical"></p-slider>
  </div>
</div>
