<!-- <app-input-inputgroup></app-input-inputgroup> -->
<!-- <app-input-calendar></app-input-calendar> -->
<!-- <app-input-autocomplete></app-input-autocomplete> -->
<!-- <app-input-checkbox></app-input-checkbox> -->
<!-- <app-input-chips></app-input-chips> -->
<!-- <app-input-colorpicker></app-input-colorpicker> -->
<!-- <app-input-dropdown></app-input-dropdown> -->
<!-- <app-input-editor></app-input-editor> -->
<!-- <app-input-keyfilter></app-input-keyfilter> -->
<!-- <app-input-switch></app-input-switch> -->
<!-- <app-input-inputtext></app-input-inputtext> -->
<!-- <app-input-inputtextarea></app-input-inputtextarea> -->
<!-- <app-input-listbox></app-input-listbox> -->
<!-- <app-input-mask></app-input-mask> -->
<!-- <app-input-multiselect></app-input-multiselect> -->
<!-- <app-input-password></app-input-password> -->
<!-- <app-input-radiobutton></app-input-radiobutton> -->
<!-- <app-input-rating></app-input-rating> -->
<!-- <app-input-slider></app-input-slider> -->
<!-- <app-input-spinner></app-input-spinner> -->
<!-- <app-input-select-button></app-input-select-button> -->
<!-- <app-input-toggle-button></app-input-toggle-button> -->
<!-- <app-input-tristate-checkbox></app-input-tristate-checkbox> -->

<app-file-upload></app-file-upload>
